.productCard {
    width: 200px;
    height: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.productImage {
    height: 110px;
    width: 170px;
    background-color: black;
    border-radius: 20px;
    transform: skew(-20deg);

}
.productBodyContainer {
    height: 110px;
    width: 130px;
}
.productName {
    color: rgb(6, 6, 6);
}
.productDescription {
    font-size: 12px;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
}
.seeMore {
    font-size: 10px;
    color: blue;
}

a{
    color: blue;
    text-decoration: none;
}

.addToCartBtn {
    background-color: rgb(238,223,148);
    border: none;
}
.ProductPrice {
    color: crimson;
}