.navContainer{
    background-color: rgb(238, 223, 148);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    width: 4vh;
    height: 4vh;
    background-color: black;
    border-radius: 50%;
    margin-left: 5vh;
}

.navPanel ul{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

.navPanel a{
    color: rgb(7, 7, 7);
    text-decoration: none;
}